     
     *{
        margin: o;
        padding: 0;
     }
        body {
            height: 100vh;
            background: linear-gradient(to top, rgba(237, 237, 158, 0.356), rgba(158, 201, 237, 0.6), rgba(158, 237, 221, 0.6));
            padding-left: 100px;
        }
        #holder{
            display: flex;
           
        }
        
        #signupholder, #signinholder{
            line-height: 40px;
          
        }
        #signupholder button, #signinholder button{
                width: 120px;
                height: 35px;
                font-size: 16px;
            }
         #inputFirstName, #inputLastName, #inputDob,#inputEmail,#inputPassword,#inputCp, #inputemail, #inputpass{
            width: 250px;
            height: 30px;
            border-radius: 5px;
            font-size: 12px;
            padding-left: 10px;
        }
        
        table, tr, td, th{
                border: 1px solid black;
                text-align: center;
                border-collapse: collapse;
            }
            table{
                width: 800px;
            }
           
        